.parking-grid {
  .padding-none {
    padding: 0px !important;
  }
  .pr-0 {
    padding-right: 0px !important;
  }
  .pl-0 {
    padding-left: 0px !important;
  }
  .panel-default > .panel-heading {
    padding-bottom: 0px;
    color: #cc030a;
    font-size: 24px;
    background-color: transparent;
    border-color: transparent;
    text-transform: capitalize;
    a {
      margin-left: 5px;
      color: #959595;
      font-size: 18px;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .parking-lines {
    -webkit-background: repeating-linear-gradient(
      45deg,
      #aadff9,
      #aadff9 10px,
      #e9e9e9 10px,
      #e9e9e9 15px
    );
      -moz-background: repeating-linear-gradient(
      45deg,
      #aadff9,
      #aadff9 10px,
      #e9e9e9 10px,
      #e9e9e9 15px
    );
      background: repeating-linear-gradient(
      45deg,
      #aadff9,
      #aadff9 10px,
      #e9e9e9 10px,
      #e9e9e9 15px
    );
  }
  .garage {
    border: 3px solid #e9e9e9;
    background-color: #949494;
    tbody {
      tr {
        &:first-child {
          >td {
            div {
              width: 91px;
              height: 160px;
              .parking-number {
                padding-top: 100%;
                height: 160px;
              }
            }
            &.parking {
              border-bottom:0px;
            }
            &:first-child, &:last-child {
              div {
                width: 160px;
                height: 160px;
                background-color: #cbcbcb;
                .parking-number { display: none; }
              }
            }
          }
        }
        &:last-child {
          >td {
            &:first-child, &:last-child {
              border-right: 0px;
              border-left: 0px;
              div {
                height: 80px;
                background-color: #cbcbcb;
                .parking-number { display: none; }
              }
            }
          }
        }
        &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9) {
          td {
            border-right: 0px;
            border-left: 0px;
          }
        }
        &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9) {
          td:nth-child(5) {
            border-right: 3px solid #e9e9e9;
          }
        }
        &:last-child {
          td {
            &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
              border: 0px;
              div {
                height: 80px;
                background-color: #cbcbcb;
                .parking-number { display: none; }
              }
            }
          }
        }
        &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9) {
          td:nth-child(4), td:nth-child(7) {
            .parking-number { display: none; }
          }
          td:nth-child(5), td:nth-child(6) {
            .parking-number {
              padding-top: 30%;
            }
          }
        }
        &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9) {
          td:last-child {
            background-color: #aadff9;
          }
        }
        &:nth-child(6), &:nth-child(9) {
          td {
            &:last-child {
              div {
                .parking-number { display: none; }
              }
            }
          }
        }
        &:nth-child(9) {
          td {
            &:last-child {
              @extend .parking-lines;
              .parking-lines {
                height: 75px;
                display: block;
                border-left: 3px solid #e9e9e9;
              }
              // -webkit-background: repeating-linear-gradient(
              //   45deg,
              //   #aadff9,
              //   #aadff9 10px,
              //   #e9e9e9 10px,
              //   #e9e9e9 15px
              // );
              // -moz-background: repeating-linear-gradient(
              //   45deg,
              //   #aadff9,
              //   #aadff9 10px,
              //   #e9e9e9 10px,
              //   #e9e9e9 15px
              // );
              //   background: repeating-linear-gradient(
              //   45deg,
              //   #aadff9,
              //   #aadff9 10px,
              //   #e9e9e9 10px,
              //   #e9e9e9 15px
              // );
            }
          }
        }
        &:nth-child(5) {
          td:last-child {
            border-bottom: 0px;
            div {
              .parking-lines {
                height: 40px;
                display: block;
                border-bottom: 3px solid #e9e9e9;
                border-left: 3px solid #e9e9e9;
              }
              .parking-number {
                 height: 37px;
              }
            }
          }
        }
        &:nth-child(6) {
          td:last-child {
            border-top: 0px;
            div {
              .parking-lines {
                margin-top: 35px;
                height: 40px;
                display: block;
                border-top: 3px solid #e9e9e9;
                border-left: 3px solid #e9e9e9;
              }
              .parking-number {
                 height: 37px;
              }
            }
          }
        }
      }
    }
    .parking {
      background-color: transparent;
      border: 3px solid #e9e9e9;
      div {
        text-align: center;
        .parking-number {
          padding-top: 15%;
          height: 75px;
          display: block;
          color: #e9e9e9;
          text-transform: uppercase;
          font-size: 19px;
          font-weight: bold;
        }
      }
    }
  }
  .add-device-wrapper {
    color: #f3f3f3;
    .inner {
      margin-left: 1px;
      padding: 10px 20px 15px;
      width: 100%;
      background-color: #949494;
    }
    h4 {
      margin-top: 5px;
      margin-bottom: 5px;
      text-transform: capitalize;
    }
    p {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
  .list-inline > li {
    margin-right: 10px;
    padding: 10px;
    width: 100px;
    height: 100px;
    border: 2px dashed #cbcbcb;
    text-align: center;
    vertical-align: top;
    i {
      font-size: 75px;
      color: #fff;
    }
  }

  .form-group {
    margin-bottom: 15px;
    width: 100%;
    float: left;
    display: block;
    label {
      margin-top: 3px;
      margin-bottom: 0px;
      font-size: 16px;
      color: #959595;
      float: left;
      text-transform: capitalize;
      font-weight: normal;
    }
    .form-control {
      width: 65%;
      height: 30px;
      font-size: 16px;
      display: inline-block;
      float: right;
      border-radius: 0px;
    }
    &.form-group-name, 
    &.form-group-status {
      input {
        width: 75%;
      }
    }
    &.form-group-id {
      input {
        width: 85%;
      }
    }
  }
  select {
    &.form-control {
      margin-bottom: 15px;
      text-transform: capitalize;
    }
  }
  .form-control {
    height: 38px;
    color: #959595;
    font-size: 18px;
    border-radius: 0px;
  }
  .btn-wrapper {
    margin-top: 5px;
  }
  .btn {
    min-width: 90px;
    padding: 3px 12px;
    text-transform: capitalize;
    color: #fff;
    border-radius: 0px;
    font-size: 18px;
    border: 0px;
  }
  .btn-cancel {
    background-color: #cc030a;
  }
  .btn-submit {
    margin-left: 10px;
    background-color: #81cdab;
  }
  .input-group {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    input {
      height: 30px;
      font-size: 16px;
      border: 0px;
    }
    .btn {
      padding: 3px 6px 0px 10px;
      min-width: 30px;
      background-color: transparent;
    }
  }
  .input-group-btn {
    background-color: #cbcbcb;
  }
  .dropdown-menu {
    margin: 0px;
    margin-right: -1px;
    width: 524px;
    border-radius: 0px;
    border-color: #ccc;
  }
  .icon-holder {
    margin:2px;
    width: 25px;
    height: 20px;
    //border: 1px solid red;
    display: inline-block;
    float: left;
    vertical-align: top;
    background-size: contain;
  }
  .camera {
    margin-left: -2px;
    margin-top: 17px;
    width: 82px;
    height: 40px;
    display: block;
    background: url('../assets/images/camera.png') no-repeat;
    background-size: contain;
    &.drop {
      width: 25px;
      height: 15px;
      margin: 3px 0 0px;
      display: inline-block;
    }
  }
  .sensor {
    margin-left: -2px;
    margin-top: -3px;
    width: 82px;
    height: 82px;
    display: block;
    background: url('../assets/images/sensor.png') no-repeat;
    background-size: contain;
    &.drop {
      width: 20px;
      height: 20px;
      margin: 0px;
      display: inline-block;
    }
  }

  tr:nth-child(5) td:last-child div  {
    .icon-holder {
      margin-top: 40px;
    }
  }
  
  tr:first-child {
    .camera {
      //width: 52px;
      // margin-left:45px;
      // margin-top:55px;
    }
  }
  tr:last-child {
    .camera {
      //width: 52px;
      // margin-top: 20px;
      // margin-left: -40px;
    }
  }

  
  
}
